COMPOSE_PROJECT_NAME=odoo-starter

POSTGRES_VERSION=0.8.1-pg17-trixie
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=pgadmin
POSTGRES_PASSWORD=pgadminsecret
POSTGRES_DB=odoo

ODOO_VERSION=19.0-20251121
ODOO_USER=odoo
ODOO_PASS=pgsecret
ODOO_INIT_MODULES=base
ODOO_INIT_LANG=
ODOO_INIT_COUNTRY=
ODOO_PORT=8069
ODOO_RTC_PORT=8072
ODOO_ADMIN_USERNAME=admin
ODOO_ADMIN_PASSWORD=starter
