COMPOSE_PROJECT_NAME=odoo-starter

POSTGRES_VERSION=0.8.1-pg17-trixie
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_starter
POSTGRES_DB=odoo

ODOO_VERSION=19.0-20251121
ODOO_INIT_MODULES=base
ODOO_INIT_LANG=es_AR
ODOO_USER=odoo
ODOO_PASS=pgsecret
ODOO_PORT=8069
