COMPOSE_PROJECT_NAME=odoo-starter

POSTGRES_VERSION=17-3.5-alpine
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_starter
POSTGRES_DB=odoo

ODOO_VERSION=18.0-20250218
ODOO_INIT_MODULES=base
ODOO_USER=odoo
ODOO_PASS=pgsecret
ODOO_PORT=8069
